/*header.js*/
#head{
  display: grid;
  grid-template-areas: 
  "sh1 sh2 sh3 sh4 sh5 sh6 sh7";
  grid-template-columns: repeat(7, 5fr);
  background-color: blueviolet;
  max-height: 60px;
  width: 100%;
  border: solid;
}
.search{
  grid-area: sh1;
  text-align: center;
}
.film{
  grid-area: sh2;
  text-align: center;
}
.series{
  grid-area: sh3;
  text-align: center;
}
.logotip{
  grid-area: sh4;
  text-align: center;
}
.animationseries{
  grid-area: sh5;
  text-align: center;
}
.animationfilms{
  grid-area: sh6;
  text-align: center;
}
.profil{
  grid-area: sh7;
  text-align: center;
}
.search img{
  max-height: 12px;
}
.logotip img{
  max-height: 60px;
}
.profil img {
  
  max-height: 12px;
}
#h{
  grid-area: h;
}

/*App.js*/
#wrapper{
  display: grid;
  grid-template-areas: 
  "shapka"
  "vivod";
  grid-template-rows: repeat(2, 15%);
  gap: 8px;
}
#shapka{
  grid-area: shapka;
}
#vivod{
  grid-area: vivod;
}


/*Search.js*/
.poisk{
grid-area: po1;
margin-top: 50px;
}
